# Make
configure.ac

# CMake
CMakeFiles
CMakeLists.txt.user
CMakeCache.txt.prev
cmake_install.cmake
CMakeCache.txt
CMakeSettings.json
CMakeUserPresets.json
.cache
Makefile

cmake-build-debug
cmake-build-release

#IDEA
.idea/*

build
tests/CMakeFiles
tests/Debug
*.opensdf
*.sdf
tests/*tests.dir
*.vcxproj
*.vcxproj.filters
*.sln
*.tlog
Testing/Temporary/*.*
*.depends
*.suo
.vs/
.vscode/
*.log
*.log.*
*.o
*.lo
*.la
*.lai
*.so
*.so.*
*.a
*.dll
moc_*.cpp
moc_*.h
*.dir/**
*_autogen.dir/**

**/.cproject
**/.project
*_autogen
*.Po
*.Plo
*.deps/
.libs
*.out
*.qm
.idea/**
.ninja_log
.ninja_deps
build.ninja
build.ninja.*

#Conan
conan.lock
conaninfo.txt
conanbuildinfo.txt
conanbuildinfo.cmake
graph_info.json
conan_imports_manifest.txt

#Qt generated UI files
ui_*.h
*.qrc.in
qtcsettings.cmake
qrc_*.cpp

#config.h
config.h

.flatpak-builder
out/
vcpkg_installed
CMakePresets.json

.DS_Store
