module--meet--MeetingVideoFrame{
    background: white;
}

#videoLayout{
    background: #E3E7EA;
}

QToolBar{
    background: #E3E7EA;
    padding: 2px;
    spacing: 4px;
}

QToolBar QToolButton{
    border: 0px solid;
    border-radius: 5px;
    background: transparent;
    padding: 3px 2px 2px 3px;
    margin: 0px;
}

QToolBar QToolButton:hover{
    background-color: #f2f2f2;
}

QToolBar QToolButton:pressed{
    padding: 3px 2px 2px 3px;
}

QToolButton{
    background: #e1e1e1;
    border: 0px solid;
    border-radius: 5px;
    padding: 4px;
}

QToolButton:hover{
    background-color: #e7e7e7;
}

#bottomBar{
    padding: 10px;
}

QPushButton#layoutTypeIcon{
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 2px;
}

QPushButton#layoutTypeIcon:hover{
    border-color: #9ebbff;
}

QPushButton#layoutTypeIcon:pressed,
QPushButton#layoutTypeIcon:checked{
    border-color: #0D51F0;
}

module--meet--MeetingVideosLayout{
    background: #f3f3f3;
}

module--meet--MeetingVideoOutput{
    background: #e3e3e3;
}

module--meet--MeetingVideoOutput#centerVideo{
    background: #e3e3e3;
}
