*{
 border: none;

}

QWidget, QFrame {
    background-color: rgb(255, 255, 255);
}

QLabel, QCheckBox, QPushButton, QLineEdit {
    color: rgb(34, 34, 34);
}

QPushButton#installBtn {
background-color: rgb(204, 0, 0);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px;
}